<!DOCTYPE html>
<html>
<head>
	<title>Show All Records of customer</title>
</head>
<body style="background-color:greenyellow;";>
	<!--{% for i in dresult %}
	<h1>{{i}}</h1>
	{% endfor %}-->

	<center>
<h1>Customer's Details</h1>
<TABLE BORDER="1">
<thead>
<th>Account Name</th>
<th>Phone Number</th>
<th>Address</th>
<th>Account Number</th>
<th>Account Pin</th>
<th>Balance</th>
<th>Email Id</th>
<th>User Name</th>
<th>Password</th>
</thead>
{% for row in dresult %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
               <td>{{row[4]}}</td>
               <td>{{row[5]}}</td>
               <td>{{row[6]}}</td>
               <td>{{row[7]}}</td>
               <td>{{row[8]}}</td>		
            </tr>
         {% endfor %}
    </table>

    <a href="/delete">Delete</a>
         </center>
   
</body>
</html>
